.scrollable {
    margin: 10px auto;
    width: 600px;
    height: 450px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
}

.send-inv-modal{
    display: block;
    background: white;
    position: absolute;
    top: 5vw;
    left: 30vw;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
}
